@charset "utf-8";
html,
body{
    height: 100%;
    width: 100%;
}
html{}
body{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 1);
}
#wrapper{
    height: 100%;
    position: relative;
    width: 100%;
}
#codeFormWr{
    height: 257px;
    left: 50%;
    margin: -128px 0 0 -554px;
    position: absolute;
    width: 1108px;
}
#codeFormCont, #codeFormCont2{
    background: url("../img/login-panel-back.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: -110px;
    height: 152px;
    left: 50%;
    margin: 0 0 0 -339px;
    position: absolute;
    width: 678px;
}
#codeFormCont2{
    bottom: -250px;
}
#codeFormCont button, #codeFormCont2 button{
    background: url("../img/log-btn.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    height: 50px;
    padding: 0;
    position: absolute;
    right: 50px;
    text-transform: capitalize;
    top: 53px;
    width: 83px;
}
#codeFormCont button:hover, #codeFormCont2 button:hover{
    background-position: 0 -50px;
}
#codeFldLbl, #codeFld, #codeFld2, #codeFormCont button, #codeFormCont2 button{
    font: 26px/100% MyriadPro-BoldCond,Tahoma,Geneva,sans-serif;
}
#codeFld, #codeFld2{
    background: url("../img/code-field-back.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: rgba(0, 0, 0, 1);
    height: 34px;
    padding: 5px;
    position: absolute;
    right: 140px;
    top: 54px;
    width: 284px;
}
#codeFldLbl{
    color: rgba(255, 255, 255, 1);
    height: 32px;
    left: 60px;
    line-height: 32px;
    position: absolute;
    text-align: center;
    top: 60px;
    width: 186px;
}

#infoMsgWr{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#infoMsg{
    background: url('../img/progress_animation.gif') no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    /*border: 2px outset white;*/
    height: 39px;
    left: 50%;
    margin: -20px 0 0 -110px;
    position: absolute;
    top: 50%;
    width: 221px;
}
#infoMsgStrWr{
    display: none;
}

.err #infoMsg{
    background: none repeat scroll 0 0 #000;
    border: 5px solid #000;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(255, 0, 0, 1);
    height: 100px;
    left: 50%;
    margin: -55px 0 0 -155px;
    position: absolute;
    top: 50%;
    width: 300px;
}
.err #infoMsgStrWr{
    background: none no-repeat scroll 0 0 rgba(36, 4, 0, 1);
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(255, 0, 0, 1) inset;
    display: table-cell;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    width: 300px;
}
.err #infoMsgStr{
    font: 22px/100% MyriadPro-BoldCond,Tahoma,Geneva,sans-serif;
    color: #fff;
}

.gameFrame{
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#sptLnk{
    bottom: -80px;
    position: absolute;
    text-align: center;
    width: 100%;
}
#sptLnk a{
    color: #fff;
    font: 18px/100% MyriadPro-Cond,Tahoma,Geneva,sans-serif;
    text-decoration: none;
}
#sptLnk a:hover{
    text-decoration: underline;
}
#sptLnk a span{

}
noscript{
    height: 100%;
    width: 100%;
}